<!DOCTYPE html>
<html>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous"
	/>
	<link rel="stylesheet" href="style.css" />

	<head>
		<title>Movie Search</title>
	</head>

	<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">MS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:3000/">Home <span class="sr-only">(current)</span></a>
                </li>
				<li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:3000/addToList">My List</a>
                </li>
            </div>
        </nav>
		<div class="container">
			<div class="headliner px-md-5">
				<h1>Welcome to your media watch list</h1>
				<p>
					Search for any TV Show or Movie and store them in your own
					personal watch list.
				</p>
			</div>
			<form action="/search" method="get" class="form-inline">
				<div class="row">
					<div class="col">
						<div class="col">
							<input
								class="form-control"
								type="text"
								name="q"
								id="query"
								placeholder="Search for any Movie"
							/>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">
						Search
					</button>
				</div>
			</form>
		</div>
		<footer>
			<div>
				
			</div>
		</footer>
	</body>
</html>
