<!DOCTYPE html>
<html>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous"
	/>
	<link rel="stylesheet" href="style.css" />

	<head>
		<title>Never Miss Movie Database</title>
	</head>

	<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:3000/">Home <span class="sr-only">(current)</span></a>
                </li>
				<li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:3000/">My List</a>
                </li>
            </div>
        </nav>
		<div class="container mx-auto p-2">
			<div class="headliner px-md-5">
				<h1>Welcome to your media watch list</h1>
				<p>
					Search for any TV Show or Movie and store them in your own
					personal watch list.
				</p>
			</div>
			<form action="/search" method="get" class="form-inline">
				<div class="row">
					<div class="col">
						<div class="col">
							<input
								class="form-control"
								type="text"
								name="q"
								id="query"
								placeholder="Search for any Movie"
							/>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">
						Search
					</button>
				</div>
			</form>
			<div class="container p-3 g-2">
				<button type="button" class="btn btn-primary">See My List</button>
			</div>
			
			<!--<div class="container grid gap-3 mx-auto p-3">
            <h1>My Movie List</h1>
            <ul class="list-group movie-titles">
            Loop through saved movie titles 
            <% for(var i = 0; i < list.length; i++) {%>
            <li class="list-group-item">
                Output name from the iterated quote object 
                <h1><%= list[i].title%></h1>
                <p>
					<strong>Release Date:</strong> <%=list[i].releaseDate %></p>
                Output quote from the iterated quote object 
                <p><strong>Overview</strong> <%= list[i].overview %></p>
				
                <div class="btn-group" role="group" aria-label="Basic example"><button id="update-watch" type="submit" class="btn btn-warning">Update</button></div>
                <div class="btn-group" role="group" aria-label="Basic example">
					<button id="update-watch" type="submit" class="btn btn-danger delete-btn" data-id="<%= list[i]._id %>">Delete</button>
				</div>

            </li>
            <% } %>
            </ul>
		</div> -->
		</div>
		<footer>
			<div>
				
			</div>
		</footer>
		<script src="/main.js"></script>
	</body>
</html>
