<!DOCTYPE html>
<html>
	<head>
		<title>Movie Search Results</title>
	</head>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous"
	/>
	<link rel="stylesheet" href="style.css" />
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="localhost:5500">MS</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#"
							>Home <span class="sr-only">(current)</span></a
						>
					</li>
				</ul>

				<form action="/search" method="get" class="form-inline my-2 my-lg-0">

								<input
									class="form-control mr-sm-2"
									type="text"
									name="q"
									id="query"
									placeholder="Search for any Movie"
								/>
							</div>
						</div>
						<button type="submit" class="btn btn-outline-success my-2 my-lg-0">
							Search
						</button>
					</div>
				</form>
			</div>
		</nav>

		<div class="container">
			<h1>Movie Search Results for "<%= query %>":</h1>
			<div class="container">
				<% if (results && results.length > 0) { %>
				<ul class="list-group">
					<% results.forEach(movie => { %>
					<li class="list-group-item">
						<h2><%= movie.title %></h2>
						<p>
							<strong>Release Date:</strong> <%=
							movie.release_date %>
						</p>
						<p><strong>Overview:</strong> <%= movie.overview %></p>
					</li>
					<% }); %>
				</ul>
				<% } else { %>
				<p>No results found.</p>
				<% } %>
			</div>
		</div>
	</body>
</html>
