<!-- A place for tester code -->

<div class="container mx-auto p-20 m-10">
	<div class="headliner px-md-5">
		<h1>Welcome to Never Miss Media</h1>
		<p>
			Search for any TV Show or Movie and store them in your own personal
			watch list.
		</p>
	</div>
	<div class="container w-50 p-3">
		<form>
			<!-- Email input -->
			<div class="form-outline mb-4">
				<label class="form-label" for="form2Example1"
					>Email address</label
				><input type="email" id="form2Example1" class="form-control" />
			</div>

			<!-- Password input -->
			<div class="form-outline mb-4">
				<label class="form-label" for="form2Example2">Password</label
				><input
					type="password"
					id="form2Example2"
					class="form-control"
				/>
			</div>

			<!-- 2 column grid layout for inline styling -->
			<div class="row mb-4">
				<div class="col d-flex justify-content-center">
					<!-- Checkbox -->
					<div class="form-check">
						<input
							class="form-check-input"
							type="checkbox"
							value=""
							id="form2Example31"
							checked
						/>
						<label class="form-check-label" for="form2Example31">
							Remember me
						</label>
					</div>
				</div>

				<div class="col">
					<!-- Simple link -->
					<a href="#!">Forgot password?</a>
				</div>
			</div>

			<!-- Submit button -->
			<button type="button" class="btn btn-primary btn-block mb-4">
				Sign in
			</button>

			<!-- Register buttons -->
			<div class="text-center">
				<p>Not a member? <a href="#!">Register</a></p>
				<p>or sign up with:</p>
				<button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-facebook-f"></i>
				</button>

				<button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-google"></i>
				</button>

				<button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-twitter"></i>
				</button>

				<button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-github"></i>
				</button>
			</div>
		</form>
	</div>

	<!-- <div class="card">
				<div class="card-body">
					<form action="/search" method="get" class="form-inline">
						<div class="row">
							<div class="col px-md-5">
								<div class="col">
									<input
										class="form-control"
										type="text"
										name="q"
										id="query"
										placeholder="Search for any Movie"
									/>
								</div>
							</div>
						</div> 
						<div class="input-group mb-3">
							<input
								type="text"
								class="form-control"
								name="q"
								id="query"
								placeholder="Search any Movie or TV Show"
								aria-label="Search any Movie or TV Show"
								aria-describedby="basic-addon2"
							/>
							<div class="input-group-append ps-3">
								<button class="btn btn-outline-success">
									Submit
								</button>
							</div>
						</div>
					</form>
				</div>
			</div> -->

	<!--<div class="container grid gap-3 mx-auto p-3">
            <h1>My Movie List</h1>
            <ul class="list-group movie-titles">
            Loop through saved movie titles 
            <% for(var i = 0; i < list.length; i++) {%>
            <li class="list-group-item">
                Output name from the iterated quote object 
                <h1><%= list[i].title%></h1>
                <p>
					<strong>Release Date:</strong> <%=list[i].releaseDate %></p>
                Output quote from the iterated quote object 
                <p><strong>Overview</strong> <%= list[i].overview %></p>
				
                <div class="btn-group" role="group" aria-label="Basic example"><button id="update-watch" type="submit" class="btn btn-warning">Update</button></div>
                <div class="btn-group" role="group" aria-label="Basic example">
					<button id="update-watch" type="submit" class="btn btn-danger delete-btn" data-id="<%= list[i]._id %>">Delete</button>
				</div>

            </li>
            <% } %>
            </ul>
		</div> -->
	<!-- </div>
<footer>
	<div></div>
</footer> -->

	<!--  // ROUTING - For Later
// const hello = require('./routes/hello');

// MongoClient.connect(connectionString, { useUnifiedTopology: true }).then(
// 	(client) => {
// 		console.log('Connected to the database.');
// 		const db = client.db('media-api-list');
// 	}
// );

// Fetching API data

// port-->
	<!-- // const MongoClient = require('mongodb').MongoClient;
// require('dotenv').config(); -->
</div>
